## Unreal Engine ##
## Auto detect text files and perform LF normalization ##
* text=auto

# UE file types
*.uasset filter=lfs diff=lfs merge=lfs -text lockable
*.umap filter=lfs diff=lfs merge=lfs -text lockable
*.udk filter=lfs diff=lfs merge=lfs -text lockable
*.upk filter=lfs diff=lfs merge=lfs -text lockable

# 2D formats
# Read more in: https://docs.unrealengine.com/4.26/en-US/RenderingAndGraphics/Textures/Importing/

# Recommended use:
*.[tT][gG][aA] filter=lfs diff=lfs merge=lfs -text lockable
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text lockable
*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text lockable

# Can also be used:
*.[fF][lL[oO][aA][tT] filter=lfs diff=lfs merge=lfs -text lockable
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text lockable
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text lockable
*.[pP][cC][xX] filter=lfs diff=lfs merge=lfs -text lockable
*.[pP][sS][dD] filter=lfs diff=lfs merge=lfs -text lockable
*.[xX][cC][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text lockable

# Other supported formats:
*.[hH][dD][rR] filter=lfs diff=lfs merge=lfs -text lockable
*.[dD][dD][sS] filter=lfs diff=lfs merge=lfs -text lockable
*.[eE][xX][rR] filter=lfs diff=lfs merge=lfs -text lockable

# 3D formats

# Always recommended to use:
# The UE4 FBX import pipeline uses FBX 2018
*.[fF][bB][xX] filter=lfs diff=lfs merge=lfs -text lockable

# Can also be used:
*.[oO][bB][jJ] filter=lfs diff=lfs merge=lfs -text lockable

# Other supported formats:
*.[aA][bB][cC] filter=lfs diff=lfs merge=lfs -text lockable
*.[sS][rR][tT] filter=lfs diff=lfs merge=lfs -text lockable

# Audio formats
# Read more in: https://docs.unrealengine.com/4.27/en-US/WorkingWithAudio/Overview/#:~:text=Unreal%20Engine%204%20(UE4)%20supports,16%2Dbit%20format%20PCM%20files.

# Always recommended to use:
*.[wW][aA][vV] filter=lfs diff=lfs merge=lfs -text lockable

# Can also be used:
*.[aA][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[oO][gG][gG] filter=lfs diff=lfs merge=lfs -text lockable
*.[fF][lL][aA][cC] filter=lfs diff=lfs merge=lfs -text lockable

# Not recommended to use, but supported:
*.[mM][pP]3 filter=lfs diff=lfs merge=lfs -text lockable
*.[wW][mM][aA] filter=lfs diff=lfs merge=lfs -text lockable
*.[aA][cC]3 filter=lfs diff=lfs merge=lfs -text lockable
*.[aA][mM][rR] filter=lfs diff=lfs merge=lfs -text lockable
*.[aA][iI][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[aA][uU] filter=lfs diff=lfs merge=lfs -text lockable
*.[cC][dD][dD][aA] filter=lfs diff=lfs merge=lfs -text lockable
*.[cC][aA][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[bB][wW][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[aA][dD][tT][sS] filter=lfs diff=lfs merge=lfs -text lockable

# Video formats
# Read more in: https://docs.unrealengine.com/5.0/en-US/media-framework-technical-reference-for-unreal-engine/
# Always recommended to use, supports all platforms:
# For the best compatibility and performance, it is recommended to use H.264 encoded MP4 (.mp4) container files.
*.[mM][pP]4 filter=lfs diff=lfs merge=lfs -text lockable
*.3[gG]2 filter=lfs diff=lfs merge=lfs -text lockable
*.3[gG][pP] filter=lfs diff=lfs merge=lfs -text lockable
*.3[gG][pP]2 filter=lfs diff=lfs merge=lfs -text lockable
*.3[gG][pP][pP] filter=lfs diff=lfs merge=lfs -text lockable
*.[mM]4[aA] filter=lfs diff=lfs merge=lfs -text lockable
*.[mM]4[vV] filter=lfs diff=lfs merge=lfs -text lockable
*.[mM][o][vV] filter=lfs diff=lfs merge=lfs -text lockable
*.[aA][sS][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[aA][vV][iI] filter=lfs diff=lfs merge=lfs -text lockable
*.[wW][mM][vV] filter=lfs diff=lfs merge=lfs -text lockable

# Fonts
# Read more in: https://docs.unrealengine.com/5.0/en-US/importing-fonts-in-unreal-engine/
*.[tT][tT][fF] filter=lfs diff=lfs merge=lfs -text lockable
*.[oO][tT][fF] filter=lfs diff=lfs merge=lfs -text lockable

# Documents
*.[cC][sS][vV] filter=lfs diff=lfs merge=lfs -text

*.bat eol=crlf
*.sh eol=lf

# FastBuild binaries for windows.
*.exe
